.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .container.backgroundStyle {
    background-image: url('/images/fondoCajero.jpeg');
    background-color: #f2f2f2;
    background-size: contain;

  }
  
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cardInput {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .message {
    text-align: center; /* Centra horizontalmente el contenido */
  }
  
  